html, body
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: medium;
	overflow: auto;
	background: #FFF;
}

table.audit
{
    border-collapse: collapse;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    background: #C3C3E5;
}

table.audit td
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
}

table.class
{
    border-collapse: collapse;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    background: #C3C3E5;
}

table.class th
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
}

table.class td
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
}

table.data
{
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #DFF;
}

table.data th
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
}

table.data td
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
}

table.data td.bad
{
    background: #f47171;
}

table.data td.good
{
    background: #9de889;
}

table.data td.strong
{
    font-weight: bold;
}

table.login
{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #c5f1ff;
}

table.login th, td
{
    border-style: none;
    text-align: center;
    padding: 6px 20px 6px 20px;
}

table.header
{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #c5f1ff;
}

table.header th, td
{
    border-style: none;
    text-align: center;
    padding: 6px 20px 6px 20px;
}

table.test_desc
{
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #eec6a2;
}

table.test_desc th
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
    font-weight: normal;
}

table.test_desc td
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
    font-weight: bold;
}

table.test_counts
, table.test_report
{
    border-collapse: collapse;
    margin: 2px 20px;
    padding: 10px;
    background: #c9eed0;
}

table.test_counts th
{
    border: 1px solid black;
    text-align: left;
    padding: 6px;
    font-weight: normal;
}

table.test_counts td
{
    border: 1px solid black;
    text-align: left;
    padding: 6px 20px 6px 20px;
    font-weight: bold;
}

table.test_report th
{
    border: 1px solid black;
    text-align: center;
    padding: 6px;
    font-weight: bold;
}

table.test_report td
{
    border: 1px solid black;
    text-align: center;
    padding: 6px 20px 6px 20px;
    font-weight: normal;
}

table.test_report tr > td:first-child,
table.test_report tr > td:nth-child(2)
{
    text-align: left;
    font-weight: bold;
}

table.warning
{
	margin-left: 60px;
	background: #FE9A2E;
}

table.input
{
	background: #CCC;
}

table.output
{
	margin-left: 60px;
	background: #81C6DD;
}

p.success
{
    width: 800px;
    margin-left: 60px;
    padding: 20px;
    background: #89fe9d;
    font-weight: bold;
}

p.error,
div.error
{
	width: 1100px;
	margin-left: 60px;
    margin-bottom: 10px;
	padding: 20px;
	background: #FE2E2E;
	font-weight: bold;
}

p.json
{
    margin-left: 20px;
}

p.root
{
	width: 420px;
	margin-left: 20px;
	background: #C3C3E5;
}

p.state
{
	width: 420px;
	margin-left: 60px;
	background: #90CA77;
}

p.district
{
	width: 800px;
	margin-left: 100px;
	background: #81C6DD;
}

p.school
{
	width: 800px;
	margin-left: 140px;
	background: #E9B64D;
}

p.message
{
	width: 800px;
	margin-left: 60px;
	padding: 20px;
	background: #9CBCA8;
	font-weight: bold;
}

/*
p.organization
{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    padding: 20px;
    background: #C3C3E5;
    font-weight: bold;
}
*/

p.organization
{
    width: 800px;
    margin-left: 20px;
    padding: 20px;
    background: #C3C3E5;
    font-weight: bold;
}

p.output
{
    width: auto;
    margin-left: 60px;
    padding: 20px;
}

p.status
{
    display: none;
}

p.warning
{
	width: 800px;
	margin-left: 60px;
	padding: 20px;
	background: #FE9A2E;
	font-weight: bold;
}
form.fileUpload {
    padding: 20px;
    background: #9CBCA8;
    margin: 20px 20px 20px 60px;
    font-weight: bold;
}
